@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");



.cards {
    margin-left: 12px;
    padding-top: 15px;
    
}


.cards .card {
    border: #000000b3 1px solid;
    word-wrap: break-word;
    margin: auto;
    min-width: 430px;
    max-width: fit-content;
    height: auto;
    padding: 10px;
    /*background: linear-gradient(to bottom, rgb(0 251 112 / 84%) 0%, rgb(160 171 247 / 90%) 100%);*/
    border-radius: 10px;
    margin-bottom: 10px;
}

.cards .card div {
    display: inline-flex;
    width: 100%;
}

.cards .card h4 {
    margin: auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #2B2862;
}

.cards .card div h4 {
    margin-right: 15px;
}

.cards .card p {
    text-align: center;
    min-height: 26px;
    padding: 10px;
    margin: auto 15px;
    margin-top: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    border: #00000078 1px solid;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(196 246 251 / 80%) 100%, rgb(160 179 247 / 90%) 100%);
    box-shadow: 0 0 10px #0524fbc7;
}

.cards .card div p {
    margin: 5px 0px 0px 0px;
    width: 100%;
    border: #000000b3 1px solid;
}

.delete-button button {
    text-align: right;
    margin-right: 15px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(196 251 205 / 91%) 0%, rgb(255 56 56 / 69%) 100%);
    box-shadow: 0 0 20px #fbfbfb;
}

.comment-form {
    width: 100%;
    display: table-caption;
    margin: 15px 15px;
}

.posteo .card .login-form textarea {
    padding-left: 20px;
    margin: auto;
    width: 95%;
    height: 23px;
    font-size: 20px;
    margin-top: 10px;
}

textarea {
    outline: none;
    resize: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(255 255 255 / 92%) 10%, rgb(219 234 205 / 73%) 100%);
    box-shadow: 0 0 10px #ffffff;
}

.comment-form textarea{
    width: 392px;
    margin: 0px;
    padding: 4px;
    height: 22px;
    font-size: 18px;
}

.comment-form button{
    text-align: right;
    float: right;
    margin-top: 3px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(196 251 205 / 91%) 0%, rgb(56 163 255 / 92%) 100%);
    box-shadow: 0 0 20px #fbfbfb;
}




#header_wrapper #header {
    display: flex;
}

#header .post-header {
    width: 50%;
    margin: auto;
    padding: 0;
    display: flex;
    list-style-type: none;
}

#header .post-header li {
    margin: auto;
}


#header .post-header a:-webkit-any-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.login-form {
    display: flow-root;
}


.login-form input {
    min-height: 25px;
    min-width: 40px;
    float: right;
    margin-top: 3px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(196 251 205 / 91%) 0%, rgb(56 163 255 / 92%) 100%);
    box-shadow: 0 0 20px #fbfbfb;
}




.posteo .card div {
    margin-bottom: 10px;
}

.posteo .card div p {
    font-size: 15px;
}
