{% extends "base.html" %}


{% block title %}Portfolio Brian | Unity{% endblock %}

{% block body %}

    <div id="showcase">
      <div class="showcase-banner">
        <h1 class="subpage">Unity</h1>
        <p class="large">Tengo solo una pequeña app echa con unity, es solo un menu de juego con sonido de fondo.</p>
      </div>
    </div>

  </header>

  <section class="single-project">
    <div class="container">
      <div class="box-portfolio">
        <h4>Project Description</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit obcaecati, hic delectus voluptatibus at velit perspiciatis iusto tenetur odit sunt nulla illum placeat officia incidunt culpa non maxime aliquid. Magni pariatur laborum amet magnam totam, eum esse fugit autem perferendis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae commodi laborum cumque ipsa rem voluptas nobis optio sapiente?</p>
      </div>
      <div class="box-portfolio">
        <h4>Project Details</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed quasi totam obcaecati dignissimos. Vitae facilis id accusantium deleniti eos quod, blanditiis ipsam exercitationem reprehenderit qui saepe, unde dolore ipsum beatae.</p>
        <h4>Project Info</h4>
        <ul>
          <li><i class="far fa-user"></i> &nbsp;Client: Square Studio</li>
          <li><i class="fas fa-pencil-ruler"></i> &nbsp;Skills: Branding</li>
          <li><i class="far fa-calendar"></i> &nbsp;Date: Apr 28, 2020</li>
          <li><i class="far fa-map"></i> &nbsp;Location: New York</li>
        </ul>
        <a class="btn btn-light"
        href="contact.html">Contact</a>
      </div>
    </div>
      <div class="single-project-btn">
        <div class="container">
          <div class="hr-small"></div>
          <div class="prev">
            <a href="portfolio-1.html" class="btn btn-light">Prev</a>
          </div>
          <div class="next">
            <a href="portfolio-3.html" class="btn btn-light">Next</a>
          </div>
          <div class="hr-small-2"></div>
        </div>
      </div>
  </section>

  <hr>
{% endblock %}