{% extends "base.html" %}

{% block enlace %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/principal_style/style_responsive_cursos.css') }}">
{% endblock %}

{% block title %}Portfolio Brian | Cursos{% endblock %}

{% block body %}

    <div id="showcase">
      <div class="showcase-banner">
        <h1 class="subpage">Cursos Realizados</h1>
        <p class="large">La verdad los cursos pueden verlos en mi cv, acceda a el presionando <a href="{{ url_for('cv') }}" class="texto-en-enlace">aqui.</a>.</p>
      </div>
    </div>

  </header>


  <hr>

{% endblock %}