{% extends "blog-layout.html" %}

{% block title %}Blog | Login{% endblock %}

{% block enlace %}  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}


{% block body %}
<section id="login">

<style>

    #login .login-box {
        top: 55%;
        height: 650px;
    }
</style>


<div class="login-box">
    <img src="{{ url_for('static', filename='img/logo_login.png') }}" class="avatar" alt="Avatar Image">
    <h1>Rellene el formulario</h1>
    <form class="register-form" action="{{ url_for('registrar_usuario') }}" method="post">
        <label for="name">Nombre</label>
        <input type="text" name="name" placeholder="Ingrese Nombre">

        <label for="lastname">Apellido</label>
        <input type="text" name="last_name" placeholder="Ingrese Apellido">

        <!-- USERNAME INPUT -->
        <label for="username">Usuario</label>
        <input type="text" name="user" placeholder="Ingrese Usuario">
        <!-- PASSWORD INPUT -->
        <label for="password">Clave</label>
        <input type="password" name="password" placeholder="Ingrese su Clave" id="pass1">
        <!-- PASSWORD VERIFY -->
        <label for="passwordverify">Confirme su Clave</label>
        <input type="password" placeholder="Confirme su Clave" id="pass2">
        <input type="submit" value="Registrar" id="result">
        <br>
        <a>Ya tienes cuenta?</a>
        <a href="{{ url_for('blog_login') }}">Inicia sesion aqui.</a>
    </form>
</div>

</section>




<script type="text/javascript">
    let pass1 = document.getElementById('pass1');
    let pass2 = document.getElementById('pass2');
    let result = document.getElementById('result');


function checkPassword () {
    result.value = pass1.value == pass2.value ? 'Registrar' : 'Las claves no coinciden';
    result.style.background = pass1.value == pass2.value ? "green" : "red";
}

pass1.addEventListener('keyup', () => {
    if (pass2.value.length != 0) checkPassword();
})

pass2.addEventListener('keyup', checkPassword);
</script>
{% endblock %}