{% extends "blog-layout.html" %}

{% block title %}Blog | Login{% endblock %}

{% block enlace %}  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}


{% block body %}
<section id="login">


    <div class="login-box">
        <img src="{{ url_for('static', filename='img/logo_login.png') }}" class="avatar" alt="Avatar Image">
        <h1>Login</h1>
        <form class="register-form" action="{{ url_for('login_verify') }}" method="post">
            <!-- USERNAME INPUT -->
            <label for="username">Usuario</label>
            <input type="text" name="user" placeholder="Ingrese Usuario">
            <!-- PASSWORD INPUT -->
            <label for="password">Clave</label>
            <input type="password" name="password" placeholder="Ingrese su Clave" id="pass1">
            <!-- PASSWORD VERIFY -->
            <input type="submit" value="Login" id="result">
            <br>

            <a>No tienes cuenta?</a>
            <a href="{{ url_for('blog_register') }}">Registrate aqui.</a>
        </form>
    </div>

</section>
{% endblock %}